# PostgreSQL
POSTGRES_DB=identity_db
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password

# Identity Service
DB_URL=jdbc:postgresql://postgres:5432/identity_db
DB_USERNAME=your_username
DB_PASSWORD=your_password

JWT_SECRET=your_jwt_secret
JWT_ACCESS_EXPIRATION=900000
JWT_REFRESH_EXPIRATION=604800000